/* Loadeing typekit font Neue Haas */
@import url("https://use.typekit.net/zjg8dfi.css");
@import "./header.css";
@import "./content.css";
@import "./footer.css";

* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}

body {
  background-color: #222;
  font-family: neue-haas-grotesk-display, sans-serif;
  color:azure;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-between; */
}

section {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

h1 {
  font-weight: 700;
  font-size: 6.5em;
}
p{
  font-family: "neue-haas-grotesk-text",sans-serif;
}
