*{
    margin:0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(120, 245, 218);
    
}

.googleIcon{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 40px;
    z-index: 10;
    mix-blend-mode: multiply;
}


.googleText{
    margin-bottom: 20px;
}

.text{
    font-size: 60px;
    font-weight: bolder;
}

.text:hover{
    cursor:default;
}

.g1,.g2{
    color: #4285F4
}

.l{
    color: 	#34A853;
}

.o2{
    color:#FBBC05;
}

.o1,.e{
    color: #EA4335;
}




.searchBar{
    width: 500px;
    height: 35px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.searchBar{
    box-shadow: 2px 3px 6px 0px black;
}

.img{
    height: 25px;
    mix-blend-mode: multiply;
}

input{
    width: 440px;
    height: 23px;
    font-size: 20px;
    border: none;
    background-color: rgb(120, 245, 218);
}

input:focus-visible{
    border: none;
    outline: none;
}
.mic{
    height: 20px;
}

.mic:hover{
    cursor: pointer;
}